<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Item</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>

<body>
    <form method="post" action="/inventory/insertItem" enctype="multipart/form-data">
        <div>
            <label for="itemName">Item Name</label>
            <input type="text" name="itemName" id="itemName" placeholder="Enter Item Name" required>
        </div>
        <div>
            <label for="itemPrice">Item Price</label>
            <input type="text" name="itemPrice" id="itemPrice" placeholder="Enter Item Price" required>
        </div>
        <div>
            <label for="itemQuantity">Item Quantity</label>
            <input type="text" name="itemQuantity" id="itemQuantity" placeholder="Enter Item Quantity" required>
        </div>
        <div>
            <button type="submit">Submit</button>
        </div>
    </form>
</body>

</html>